# Print Statements

- print is a inbuilt function, to see the answers
- in jupyter notebook we can ssee latest value with out using print
- if you want to see all the values we need to use print
- In VScode, pycharm there is no markdown option
- if you want to see any answer, we need to use print statement

In [6]:
num1=100
num2=200
num1
num2

200

In [10]:
num1=100
num2=200
print(num1)
print(num2)

100
200

In [18]:
num1=100
num2=200
print(num1,num2)
print(10,20,30)
print('Dharmendra')
print('Dharmendra','is a person')
print('Dharmendra','is a person',num1,num2,10,20,30)

100 200
10 20 30
Dharmendra
Dharmendra is a person
Dharmendra is a person 100 200 10 20 30

In [30]:
a=10
b=20
c=a+b
c
print("the addition of 10 and 20 is ",  c)
print("the addition of a and b is c")
print("the additon of 10 and 20 is 30")
print("The 'addition' of ",a,'and', b ,'is', c)

the addition of 10 and 20 is  30
the addition of a and b is c
the additon of 10 and 20 is 30
The 'addition' of  10 and 20 is 30

In [35]:
name='Dharmendra'
city='hyderabad'
age=26
print('my name is', name ,'i am', age, 'years old and came from', city)

my name is Dharmendra i am 26 years old and came from hyderabad

# FORMAT METHOD

In [37]:
a=10
b=20
c=a+b
#how you want to write the print
# the addition of 10, 20 is 30
print("the addition of 10,20 is 30")
print(" the additon of {},{} is {}")
print(" the additon of {},{} is {}".format(a,b,c))

the addition of 10,20 is 30
 the additon of {},{} is {}
 the additon of 10,20 is 30

In [39]:
name='Dharmendra'
city='hyderabad'
age=25
print('my name is {} i am {} years old and came from {}'.format(name,age,city))

my name is Dharmendra i am 25 years old and came from hyderabad

In [41]:
# take two numbers
#add
#sub
#mul
#div
num1=28
num2=83
addition=num1+num2
substration=num1-num2
multiplication=num1*num2
divsion=num1/num2
print("the additon of {} and {} is {}".format(num1,num2,addition))
print("the sub of {} and {} is {}".format(num1,num2,substration))
print("the mul of {} and {} is {}".format(num1,num2,multiplication))
print("the div of {} and {} is {}".format(num1,num2,divsion))

the additon of 28 and 83 is 111
the sub of 28 and 83 is -55
the mul of 28 and 83 is 2324
the div of 28 and 83 is 0.3373493975903614

# F - string Method

In [45]:
a=10
b=20
c=a+b
#how you want to write the print
# the addition of 10, 20 is 30
print("the addition of 10,20 is 30")
print(" the additon of {},{} is {}")
print(" the additon of {a},{b} is {c}")
print(f" the additon of {a},{b} is {c}")

the addition of 10,20 is 30
 the additon of {},{} is {}
 the additon of {a},{b} is {c}
 the additon of 10,20 is 30

In [47]:
name='Dharmendra'
city='hyderabad'
age=25
print(f'my name is {name} i am {age} years old and came from {city}')

my name is Dharmendra i am 25 years old and came from hyderabad

In [53]:
num1=28
num2=83
addition=num1+num2
substration=num1-num2
multiplication=num1*num2
divsion=num1/num2
print(f"the additon of {num1} and {num2} is {addition}")
print(f"the sub of {num1} and {num2} is {substration}")
print(f"the mul of {num1} and {num2} is {multiplication}")
print(f"the div of {num1} and {num2} is {divsion}")
print(f'the addition is {addition},the substration is {substration},the mul is {multiplication},the div is {divsion}')

the additon of 28 and 83 is 111
the sub of 28 and 83 is -55
the mul of 28 and 83 is 2324
the div of 28 and 83 is 0.3373493975903614
the addition is 111,the substration is -55,the mul is 2324,the div is 0.3373493975903614

In [55]:
print(10)
print(20)
# using two print statements
#we need to write 10,20

10
20

**end**

In [60]:
print(10)
print(20)
# using two print statements
#we need to write 10,20
print(10, end='<>')
print(20)

10
20
10<>20

In [62]:
print(10)

10

In [64]:
print(10,end=' ')
print(20,end='.')
print(30)

10 20.30

**seperator**

In [67]:
#using one print statement
# 10-->20-->30
# print(10,'-->',20,'-->')

# Seperating the all values inside print statements
print(10,20,30,sep='-->')
print(10,20,30,sep='*')

10-->20-->30
10*20*30

In [73]:
# 10+20=30
print(10,end='+')
print(20,end='=')
print(30)
print(30,'.')
print(30,'.',sep='')

10+20=30
30 .
30.

In [79]:
print(10,20,sep='+',end='=')
print(30)

10+20=30