**name error**

- variable not defined
- variable is in black color
- string is in red color
- keywords are in green color

**input**

- we can take the values directly in python code
  - ex: num=10
- we can take the values from user like from keyword
- imagine there is application form we need to fill
- in the application form name: Square box will appear
- you need to enter your name
- This is achieved by a keyword **input**

In [7]:
input()

 Dharmendra

'Dharmendra'

- when we type input()
- a square box will appear
- you need to observe 3 things
  - square box
  - * mark inside square brackets that is before the code cell
  - python kernel is black color
- * mark and black color means kernel is busy
- first fill the box with some value
- then do enter

In [10]:
input()

 Dharmendra

'Dharmendra'

In [12]:
input()

 100

'100'

In [14]:
input()

 100 abc True

'100 abc True'

**Note**
- whatever we type in square brackets, the output display in quotes
- the output default type is string type

In [19]:
input()
input()
input()

 dharmendra
 is a
 data scientists

'data scientists'

In [21]:
input()
input()
input()

 dharmendra
 100
 data science

'data science'

In [23]:
print(input())

 dharmendra

dharmendra

In [25]:
print(input())
print(input())
print(input())

 dharmendra

dharmendra

 is a data

is a data

 science

science

In [27]:
int(input())

 dharmendra

ValueError: invalid literal for int() with base 10: 'dharmendra'

In [29]:
int(input())

 38

38

In [31]:
str(input())

 dharmendra

'dharmendra'

In [33]:
str(input("enter your name: "))

enter your name:  Dharmendra

'Dharmendra'

In [35]:
str(input("enter the username : "))
int(input("password : "))

enter the username :  dharmendra
password :  dharma

ValueError: invalid literal for int() with base 10: 'dharma'

In [37]:
a=input()
b=input()
print(a)
print(b)

 10
 20

10
20

In [39]:
a=input()
b=input()
print(a)
print(b)
print(f'the value of a is: {a} and b is : {b}')

 10
 20

10
20
the value of a is: 10 and b is : 20

In [41]:
name=input() #the value of input stored in a variable called 'name'
city=input()
country=input()
print(name)
print(city)
print(country)
print(f"my name is : {name} and iam from {city} and country is {country}")
print("my name is {} and i am from {} and country is {}".format(name,city,country))

 dharmendra
 hyd
 india

dharmendra
hyd
india
my name is : dharmendra and iam from hyd and country is india
my name is dharmendra and i am from hyd and country is india

In [43]:
input()
input("Enter the name")
input("Enter the name:")
input("enter the city:")
input("enter")

 10
Enter the name dharmendra
Enter the name: j
enter the city: hyd
enter okay

'okay'

In [45]:
name=input("Enter the name:")
city=input("Enter the city:")
country=input("Enter the country:")
print(f"my name is : {name} and iam from {city} and country is {country}")
input("Enter:")

Enter the name: dharmendra
Enter the city: hyd
Enter the country: india

my name is : dharmendra and iam from hyd and country is india

Enter: done

'done'

In [51]:
# wap ask the user take two numbers
# n1 and n2
# add the two numbers
n1=input("enter the number:")
n2=input("enter the number:")
n1+n2
n3=n1+n2
print(f"the value of two numbers {n1} and {n2} is {n3}")
input("enter:")

enter the number: 100
enter the number: 200

the value of two numbers 100 and 200 is 100200

enter: done

'done'

In [53]:
n1=int(input("enter the number:"))
n2=int(input("enter the number:"))
n1+n2
n3=n1+n2
print(f"the value of two numbers {n1} and {n2} is {n3}")
input("enter:")

enter the number: 100
enter the number: 200

the value of two numbers 100 and 200 is 300

enter: done

'done'

In [59]:
n1='100'
n2='200'
n1+n2

'100200'

In [61]:
n1='100'
n2='200'
int(n1)+int(n2)

300

In [65]:
n1='100'
n2='200'
int(n1+n2) # it is a wrong type

100200

In [67]:
n1=int(input("Enter the values1:"))
n2=float(input("enter the values2:"))
n1+n2

Enter the values1: 100
enter the values2: 200.25

ValueError: invalid literal for int() with base 10: '200.25'

**Eval**
- whenever you listen eval : evaluate
- evaluate is belongs to math family
- It will convert integer value to the integer
- It will convert float value to the float only
- directly apply the eval and it will convert into corresponding data type
- whenever you use eval, donot provide strings: it will give the error

In [74]:
n1=eval(input("Enter the values1:"))
n2=eval(input("enter the values2:"))
n1+n2
round(n1)+round(n2)

Enter the values1: 38
enter the values2: 29.3339239

67

In [78]:
#q1) Ask the user take the 3 number from the keyboard find the avg
n1=eval(input("Enter the numner1:"))
n2=eval(input("enter the number2:"))
n3=eval(input("enter the number3:"))
n4=round((n1+n2+n3)/3)
print(f'the average of three number are {n1},{n2} and {n3} is {n4}')

Enter the numner1: 18
enter the number2: 32.39
enter the number3: 29.392

the average of three number are 18,32.39 and 29.392 is 27

In [80]:
#q2) Ask the user take height and breadth find the right angle triangle area
height=eval(input("enter the height :"))
breadth = eval(input("enter the breadth:"))
area=round((height*breadth)/2)
print(f"the area of a right angle triangle with height is {height} and breadth is {breadth} are {area} sq meters")

enter the height : 6.8
enter the breadth: 3

the area of a right angle triangle with height is 6.8 and breadth is 3 are 10 sq meters

In [82]:
#q3) ask the user enter length and breadth calculate area of rectangle
length=l=eval(input("enter the length :"))
breadth=b=eval(input("enter the breadth:"))
area_of_rectangle=a=l*b
print(f"the area of a rectangle with length is {l} and breadth is {b} are {a}")

enter the length : 4
enter the breadth: 5

the area of a rectangle with length is 4 and breadth is 5 are 20

In [84]:
#Q4) ask the user take the radius calcualte area of the circle
radius=r=eval(input("enter the radius:"))
pi=p=3.14
area_of_circle=a=p*r*r
print(f"the area of a circle with radius {r} is {a}")

enter the radius: 4

the area of a circle with radius 4 is 50.24

In [90]:
#q5) ask the user ask the bill amount

bill =eval(input("enter the bill amount: ")) 
tip_on_perc = eval(input("enter the tips percentage"))
tip_per_amt= (bill*tip_on_perc)/100
total_bill = bill + tip_per_amt

print(f"the total bill amount is {total_bill}")

enter the bill amount:  1000
enter the tips percentage 15

the total bill amount is 1150.0